{% load static %}

<div id="id-01">
    <h4 id="project-name">COIN DETECT</h4>
    <div class="row">
        <div class="col-7" id="camera">
            <div id="webcam">
                <img src="http://localhost:8000/webcam" alt="can't not get camera frame" width="1080" height="720">
            </div>
        </div>
        <div class="col" id="result">
            <table class="table table-bordered table-hover table-striped caption-top border border-2 border-dark">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">硬幣種類</th>
                        <th scope="col">硬幣個數</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">50</th>
                        <td id="coin-50">1</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td id="coin-10">3</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td id="coin-5">2</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td id="coin-1">4</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">總計金額</th>
                        <td colspan="2" id="coin-total">94 元</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {#        <div class="col"></div>#}
    </div>
</div>
<script>
    $(document).ready(function(){
        setInterval(function(){
            var result = getResult("/result")
            $("#coin-50").text(result[0]+" 個")
            $("#coin-10").text(result[1]+" 個")
            $("#coin-5").text(result[2]+" 個")
            $("#coin-1").text(result[3]+" 個")
            $("#coin-total").text(result[0]*50+result[1]*10+result[2]*5+result[3]*1+" 元")
        }, 1000);
    });
</script>